# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.log
db.sqlite3
/media/
staticfiles/

# Virtual environment
.venv/
env/
venv/

# VSCode or PyCharm
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
